{% macro footer() %}
<footer class="footer">
    <small>Sercan Dikici &copy;2023. Movies Watchlist</small>
    <small>IU Internationale Hochschule | Task:Project Software Engineering DLMCSPSE01</small>

</footer>
{% endmacro %}