{% from "macros/svgs.jinja" import star, pencil,trash %}

{% extends "layouts.jinja" %}

{%- block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/movie_details.css') }}" />
{% endblock %}

{% block main_content %}
<div class="container">
    <header class="movie__header">
        <div class="header__row">
            <div class="movie__name">
                <h1>{{ movie.title }}</h1>
                <div class="movie__rating">
                    {% for i in range(5) %}
                    <a class="rating__link" href="{{url_for('pages.rate_movie', _id=movie._id, rating=i+1)}} "> {{
                        star("star "+("star--filled" if movie.rating > i else "")) }}

                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="movie__watched">
                {% if movie.last_watched == "Watched"%}
                <p>
                    <a href="{{ url_for('pages.watch_today', _id=movie._id) }}" class="watched__link">Watched</a>
                </p>

                {% else %}
                <p><a href="{{url_for('pages.watch_today', _id=movie._id)}}" class="not_watched__link">Not watched
                        yet</a>
                </p>
                {% endif %}

                <a class="movie__edit" href="{{url_for('pages.edit_movie', _id=movie._id)}}">Edit {{ pencil("pencil")
                    }}</a>

                <a method="post" class="movie__delete" href="{{url_for('pages.delete_movie', _id=movie._id)}}">Delete {{
                    trash("trash")
                    }}</a>

            </div>
        </div>
        <div class="header__row">
            <ul class="movie__tags">
                {% if movie.tags is string %}
                {% for tag in movie.tags.split() %}
                <li class="movie__tag">{{ tag }}</li>
                {% endfor %}
                {% elif movie.tags is iterable and movie.tags is not string %}
                {% for tag in movie.tags %}
                <li class="movie__tag">{{ tag }}</li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>



    </header>
    {% if movie.video_link %}
    <iframe class="movie__video" src="{{ movie.video_link }}" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    {% endif %}

</div>
{% endblock %}